*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.413), rgba(0, 0, 0, 0.413)), url(./fifitisente_1849x1040.jpeg);
    background-size: cover;
    font-family: "Jomhuria", serif;

}

header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 100px;
    /*background-color: black;*/

}
.logo{
    display: flex;
    height: 15vh;
    width: 20px;
}
.menu ul{
    display: flex;
    gap: 75px;
    font-size: 50px;

    
}
.B1 button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 27px;
    height: 63px;
    width: 150px;
    background-color:#DAA51B;
    font-family: "Poetsen One", sans-serif;
}
.B1 a{
    display: flex;
    font-size: 3vh;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
   
}
.conteudo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #DAA51B;

}
.conteudo P{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 48px;
    width: 800px;
    text-align: center;
}
.acao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.acao button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7px;
    height: 68px;
    width: 208px;
    background-color:#DAA51B;
    font-family: "Poetsen One", sans-serif;
}
.acao a{
    font-size: 2.5vh;
}

footer{
    
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.textofinal P{
    color: white;
    font-size: 82px;
    width: 700px;
    text-align: center;
}